body{

    background-color: beige;
    padding-left: 25%;
}



ol{
    margin: 0;
    width: 800px;
    display: flex;
    list-style-type: none;
}
li{
    display: flex;
    background-color: white;
    width: 100px;
    height: 100px;
}
ol:nth-child(odd) li:nth-child(even){
    background-color: black;
}
ol:nth-child(even) li:nth-child(odd){
    background-color: black;
}
